@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Muita calma nessa hora!!!</h1>
    <p>Se você está aqui, provavelmente é porque a API <strong>Products.Catalog.Api</strong> ainda não subiu.</p>
</div>
